
 li{
    list-style-type: none;
    padding: 1rem;
    text-decoration: none;
}
a{
    color: rgb(15, 13, 13);
    text-decoration: none;
    font-size: 1.5rem;

}

ul h1{
    margin-right: 40rem;
    color: blue;
    padding-top: 1rem;
}

h2{
    margin-right: 10rem;
    
}

.link-active {
    color: rgb(247, 213, 194);
    /* background: orange; */
    text-decoration: underline;
  }